.navbar {
  /* background-color: black; */
  overflow: hidden;
}

.navbar-text {
  padding: 10px;
  color: white;
}

.navbar-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.slide-item {
  background-color: black;
  width: 800px;
  height: 450px;
}

.slide-item img {
  background-size: cover;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.imgcont img {
  background-color: darkslategray;
  width: 100px; 
  height: 50px; 
  overflow: hidden;
}

.imgcont img:hover {
  background-color: #ddd;
}

.navimg {
  /* display: block;
  width: 100%;
  object-fit: none;
  object-position: 40% 20%; */
  height: 50px;
}

.popup {
  display: none;
  position: fixed;
  
  background-image: url('https://th.bing.com/th/id/OIP.NybRdXatKIsUS844cVtEaAAAAA?pid=ImgDet&rs=1');
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#closePopupButton {
  margin-top: 10px;
}